---
layout: default.hbs
title: MoOx slides
class: grid-title--quotes
nav: slides
---
<div class="grid grid--center grid--title">
  <hgroup class="grid__cell unit-8-12--medium title--light">
    <h1>MoOx slides...</h1>
    <h2>...of his previous talks</h2>
  </hgroup>
</div>

<div class="grid grid--blabla">
  <div class="grid__cell Box">
    <div class="Box-module">
      <h2>Slides</h2>

      <ul class="posts">
      {{#each_dateSorted pages}}
      {{#is this.data.layout "slide.hbs"}}
        <li>
          <time datetime="{{moment data.date format="ddd, DD MMMM YYYY HH:mm:ss ZZ" }}" class="time">{{moment data.date format="DD MMM YYYY" }}</time>
          <a href="{{url this.dest}}" class="title">
            <span class="text-less-visible">[{{ data.lang }}]</span>
            {{ data.title }}
          </a>
        </li>
      {{/is}}
      {{/each_dateSorted}}
      </ul>
    </div>
    <footer class="Box-module">
      <h3>This is a temporary footer</h3>
      <div class="icons--big">
        <a href="https://twitter.com/MoOx"><i class="icon icon_twitter"></i><span class="text">Twitter</span></a>
        <a href="https://github.com/MoOx"><i class="icon icon_github"></i><span class="text">Github</span></a>
        <a href="http://www.linkedin.com/in/maxthirouin"><i class="icon icon_linkedin"></i><span class="text">LinkedIn</span></a>
        <a href="skype:maxime.thirouin?add"><i class="icon icon_skype"></i><span class="text">Skype</span></a>
        <a href="contact/"><i class="icon icon_email"></i><span class="text">Contact</span></a>
      </div>
    </footer>
</div>
