---
title: MoOx slides
class: grid-title--quotes
nav: slides
---

{{#extend "layout"}}
  {{#append "header"}}
    <h1 class="mx-Header-body-title mx-Text--light mx-Text--thin mx-Title--light grid__cell unit-8-12--medium">
        <div class="mx-Header-left mx-Header-left--quote">MoOx slides...</div>
        <div class="mx-Header-right mx-Header-right--quote">...of his previous talks</div>
    </h1>
  {{/append}}
  {{#append "body"}}
    <div class="mx-Body grid">
      <div class="grid__cell">
        <h2>Slides</h2>

        <ul class="Posts">
<!-- dates are not sorted correctly
        {{#each_dateSorted pages}}
        {{#is this.data.type "slides"}}
          <li class="Posts-item">
            <time datetime="{{moment data.date format="ddd, DD MMMM YYYY HH:mm:ss ZZ" }}" class="time">{{moment data.date format="DD MMM YYYY" }}</time>
            <a href="{{url this.dest}}" class="title">
              <span class="mx-Text--lessVisible">[{{ data.lang }}]</span>
              {{ data.title }}
            </a>
          </li>
        {{/is}}
        {{/each_dateSorted}}
-->
          <li class="Posts-item">
            <time datetime="Fri, 14 November 2014 00:00:00 +0100" class="time">14 Nov 2014</time>
            <a href="slides/2014/bttc-dotcss/" class="title">
              <span class="mx-Text--lessVisible">[en]</span>
              Back to the CSS (@dotCSS)
            </a>
          </li>
          <li class="Posts-item">
            <time datetime="Thu, 30 October 2014 00:00:00 +0100" class="time">30 Oct 2014</time>
            <a href="slides/2014/bttc/" class="title">
              <span class="mx-Text--lessVisible">[en]</span>
              Back to the CSS (@ToulouseJS)
            </a>
          </li>
          <li class="Posts-item">
            <time datetime="Thu, 27 March 2014 01:00:00 +0100" class="time">27 Mar 2014</time>
            <a href="slides/2014/introduction-gulp/" class="title">
              <span class="mx-Text--lessVisible">[fr]</span>
              Introduction à Gulp
            </a>
          </li>
          <li class="Posts-item">
            <time datetime="Thu, 30 January 2014 01:00:00 +0100" class="time">30 Jan 2014</time>
            <a href="slides/2014/browserify-all-the-things/" class="title">
              <span class="mx-Text--lessVisible">[fr]</span>
              Browserify all the things
            </a>
          </li>
          <li class="Posts-item">
            <time datetime="Tue, 10 December 2013 01:00:00 +0100" class="time">10 Dec 2013</time>
            <a href="slides/2013/iut-temoignage-parcours/" class="title">
              <span class="mx-Text--lessVisible">[fr]</span>
              IUT - Témoignage parcours
            </a>
          </li>
          <li class="Posts-item">
            <time datetime="Thu, 04 April 2013 02:00:00 +0200" class="time">04 Apr 2013</time>
            <a href="slides/2013/future-friendly-css/" class="title">
              <span class="mx-Text--lessVisible">[fr]</span>
              future friendly css
            </a>
          </li>
          <li class="Posts-item">
            <time datetime="Wed, 23 January 2013 01:00:00 +0100" class="time">23 Jan 2013</time>
            <a href="slides/2013/grunt-before-after/" class="title">
              <span class="mx-Text--lessVisible">[fr]</span>
              Avant et après Grunt.js
            </a>
          </li>
          <li class="Posts-item">
            <time datetime="Wed, 19 September 2012 02:00:00 +0200" class="time">19 Sep 2012</time>
            <a href="slides/2012/discovering-pre-processor/" class="title">
              <span class="mx-Text--lessVisible">[fr]</span>
              Découvrons Un pré-processeur CSS
            </a>
          </li>
        </ul>
      </div>
    </div>
  {{/append}}
{{/extend}}
