---
lang: fr
layout: slide.hbs
title: Découvrons Un pré-processeur CSS
type: slides
date: 2012-09-19
---
<section>
	<h1>Sass &amp; Compass</h1>
	<h3>Abstraire ses CSS à coup de <br />pré-processeurs</h3>

	<small><a href="https://github.com/MoOx/moox.io/blob/master/{{ this.page.src }}">Slides Source</a></small>
</section>

<section>
	<h2>C'est quoi un pré processeur CSS ?</h2>
	<p>
		Un pré-processeur CSS... Ben, c'est comme si tu mets des petites roues à ton vélo, sauf que quand tu les mets, ben ça transforme ton vélo en Poney.
		<br />
		Donc du coup, tes stylesheets elles roxent grâve sa maman.
	</p>
	<p>
		<i><small>- <a href="http://moox.io/">Maxime Thirouin</a> / <a href="https://twitter.com/MoOx">@MoOx</a></small></i>
	</p>

	<aside class="notes">
		Ta vraiment besoin de note mec ?
	</aside>
</section>

<!-- Example of nested vertical slides -->
<section>
	<section>
		<h2>Pourquoi ?</h2>
		<p>... Réutilisation assez difficile.</p>
		<p>Suffit de voir les "frameworks" CSS</p>
		<small class="fragment"><strike>Twitter Bootstrap utilise un pré-processeur</strike></small>
	</section>
	<section>
		<h2>C'est tout ?</h2>
		<p>
			... Sensation d'être bridé d'un point de vue de la syntaxe ?
		</p>
		<ul>
			<li>Pas de math</li>
			<li>Pas de variable</li>
			<li>...</li>
		</ul>
	</section>
	<section>
		<h2>Mais encore ?</h2>
		<p>
			Organisation et industrialisation difficile.
		</p>
	</section>
</section>

<section>
	<h2>Pré processeur ?</h2>
	<ul>
		<li>Souplesse avec les <strong>$variables</strong></li>
		<li>Vive les Maths <a href="https://github.com/MoOx/Path-Menu/blob/gh-pages/sass/menu.scss#L46">!</a></li>
		<li>Réutilisation: @mixin et @function</li>
		<li>Organisation: partials et @import évolué</li>
		<li>Optimisation: @extend pour rester DRY</li>
	</ul>
</section>

<section>
	<h2>Famous pre-processors</h2>
	<ul>
		<li><a href="http://sass-lang.com/">Sass (+Scss)</a></li>
		<li><a href="http://lesscss.org/">Less</a></li>
		<li><a href="http://learnboost.github.io/stylus/">Stylus</a></li>
	</ul>
</section>

<section>
	<h2>Lequel choisir ?</h2>
	<ol>
		<li>Less est vieillissant et a peu de features</li>
		<li>Stylus n'est pas assez mature</li>
		<li>Sass a du bouchon et Compass !</li>
	</ol>
</section>

<section>
	<section data-state="alert">
		<h2>CSS</h2>
		<img class="img" src="/{{dirname this.page.dest}}/img/super-hero-css.jpg" alt="CSS">
	</section>
	<section data-state="blackout">
		<h2>Sass</h2>
		<img class="img" src="/{{dirname this.page.dest}}/img/super-hero-sass.jpg" alt="Sass">
	</section>
	<section data-state="soothe">
		<h2>Sass + Compass</h2>
		<img class="img" src="/{{dirname this.page.dest}}/img/super-hero-compass.jpg" alt="Compass">
	</section>
</section>

<section>
	<h2>Code ?</h2>

	<h3>Scss - Sassy CSS (.scss)</h3>
	<pre><code class="language-sass">.hentry {
margin-left: 2em;
.title {
font: {
size: 2em;
weight: bold;
}
}
}</code></pre>

	<h3>Indented Sass (.sass)</h3>
	<pre><code class="language-sass">.hentry
margin-left: 2em
.title
font
size: 2em
weight: bold
</code></pre>
</section>

<section>
	<h2>Nesting</h2>
	<pre><code class="language-sass">.parent {
property: value;

.child {
property: value
}
}</code></pre>

<pre><code class="language-css">.parent { property: value }
.parent .child { property: value }</code></pre>
</section>

<section>
	<h2>Parent selector</h2>
	<pre><code class="language-sass">.class {
&:hover { }
.modernizr-class & {}
}</code></pre>

<pre><code class="language-css">.class { }
.class:hover { }
.modernizr-class .class { }</code></pre>
</section>

<section>
	<h2>Media bubbling</h2>
	<pre><code class="language-sass">$widthGap: 600px; // variable !
.sidebar {
@media (min-width: $widthGap) {
float: left;

background: url(image.png);
@media (min-resolution: 2ddpx) {
background: url(image@2x.png);
}
}
}</code></pre>
</section>

<section>
	<h2>@extend</h2>
	<pre><code class="language-sass">.button { }
.button-delete {}</code></pre>

<pre><code class="language-markup">&lt;a class="button button-delete"&gt;...</code></pre>
</section>

<section>
	<h2>@extend + %placeholder : c'est d'la bomb'</h2>
	<pre><code class="language-sass">%button { }
.button-info { @extend %button }
.button-delete { @extend %button }
.button-valid { @extend %button }
}</code></pre>

<pre><code class="language-markup">&lt;a class="button-XXXX"&gt;...</code></pre>

<pre><code class="language-css">.button-info,  .button-delete,  .button-valid { }
.button-info { }
.button-delete { }
.button-valid { }
</code></pre>

</section>

<section>
	<h2>@import (revu et corrigé)</h2>
	<pre><code class="language-sass">@import "normalize";
@import "grid";
@import "typography";

.page-account {
@import "pages/account";
}
</code></pre>
</section>

<section>
	<h2>Les maths</h2>
	<pre><code class="language-sass">1em + 1em;    // 2em
1em - 1em;    // 0em
1in + 72pt;   // 2in
6px * 4;      // 24px
18  % 5;      // 3</code></pre>
	<h3>Division, cas spécial</h3>
	<pre><code class="language-sass">font   : 18px / 1.45em; // 18px/1.45em
font   : (20px / 5);    // 4px
font   : 20px / 5 + 1;  // 5px
font   : $base / 5;     // 4px
$size  : 20px / 5;      // 4px</code></pre>
</section>

<section>
	<h2>Les fonctions</h2>
	<pre><code class="language-sass">percentage(13/25) // 52%
round(2.4)        // 2
ceil(2.2)         // 3
floor(2.6)        // 2
abs(-24)          // 24</code></pre>

	<a href="http://sass-lang.com/documentation/Sass/Script/Functions.html">Listes des Fonctions Sass</a>
</section>

<section>
	<h2>Conditions</h2>
	<h3>Relational operators (<, >, <=, >=)</h3>
	<pre><code class="language-sass">1  <  20  // true
10 <= 20  // true
4  >  1   // true
4  >= 1   // true</code></pre>

	<h3>Comparison operators (==, !=)</h3>
	<pre><code class="language-sass">1 + 1 == 2     // true
small != big   // true
#000  == black // true</code></pre>
</section>

<section>
	<h2>Conditions directives</h2>
	<h3>@if, @else</h3>
	<pre><code class="language-sass">$theme: ocean;
div {
@if $theme == dusty {
background: #c6bba9;
color: $color;
} @else if $theme == ocean {
background: blue;
color: white;
}

box-shadow: 0 2px 0 if($theme == ocean, #c6bba9, #000); // if() function !
}</code></pre>
<h3>mais aussi @while, @each, @for</h3>
</section>

<section>
	<h2>Toujours plus de fonctions</h2>
	<ul>
		<li>Functions pour manipulers les couleurs, sortir des valeurs</li>
		<li>Functions custom en Sass ou Ruby</li>
	</ul>
</section>

<section>
	<h2>Les MIXINs</h2>
	Produisent de la sortie CSS
	<pre><code class="language-sass">@mixin position($position, $top: null, $right: null, $bottom: null, $left: null)
{
position: $position;
top: $top;
right: $right;
bottom: $bottom;
left: $left;
}

.fixed-header {
@include position(absolute, 0, $left: 0, $right: 0);
}</code></pre>
	ex:
	<a href="https://github.com/MoOx/compass-recipes/blob/master/stylesheets/recipes/background/_gradients.scss">gradient</a>
	-
	<a href="https://github.com/MoOx/compass-recipes/blob/master/stylesheets/recipes/ui/_tooltip.scss">tooltip</a>
</section>

<section>
	<h2>Compass</h2>
	<ul>
		<li>HUGE Mixin library</li>
		<li>More Sass functions</li>
		<li>Extensions</li>
	<ul>
</section>

<section>
	<h2>Compass functions</h2>
	<pre>adjust-lightness, scale-lightness
adjust-saturation, scale-saturation
image-url
image-height
image-width
inline-image
font-url
inline-font-files
pi
sin
cos
tan
more...</pre>
</section>
<section>
	<h2>Compass mixins</h2>
<div class="fragment">
<h3>Element styles</h3>
Links, Lists, Float, Tables, Text
</div>
<div class="fragment">
<h3>General utilities</h3>
Browser Hacks, Clearfixes, Resets
</div>
<div class="fragment">
<h3>Design patterns</h3>
Tag Cloud, Sticky footer, Vertical rhythm
</div>
<div class="fragment">
<h3>CSS3</h3>
appearance, background, gradients, background-clip
background-origin, background-size, border-radius
box, box-shadow,box-sizing, CSS3 PIE, columns,
font-face, opacity, transform, transition, more...
</div>
</section>

<section>
	<h2>Plugins &amp; Extensions</h2>
	<ul>
		<li>› Fancy Buttons, Sassy Buttons - easy CSS3 buttons
		<li>› Animate - CSS3 animation library
		<li>› RGBApng - Generate alpha pngs from Sass
		<li>› Compass Magick - Render CSS3 Gradients to png
		<li>› Many more...
	</ul>
</section>

<section>
	<section>
		<h2>Remember ?</h2>
		<img class="img" src="/{{dirname this.page.dest}}/img/super-hero-css_sass_compass.jpg" alt="CSS, Sass, Compass" />
	</section>
	<section  data-state="alert">
		<h2><img src="/{{dirname this.page.dest}}/img/compass-recipes-icon-64.png">Compass Recipes</h2>
		<div class="fragment">
			<img class="img" src="/{{dirname this.page.dest}}/img/super-hero-compass-recipes.jpg" alt="CSS, Sass, Compass" />
			<h3>Compass, but angry !</h3>
		</div>
	</section>
</section>

<section data-state="alert">
		<section>
			<h2>Compass Recipes</h2>
			<ul>
				<li><a href="http://compass-recipes.moox.fr/tests/recipes/background">Backgrounds</a>, patterns & gradients effects</li>
				<li><a href="http://compass-recipes.moox.fr/tests/recipes/color">Color</a>, Variables Names, advanced color functions like `brightness()` & color scheme functions)</li>
				<li><a href="http://compass-recipes.moox.fr/tests/recipes/effect">Effects</a>, Visual effects like `glass`, `bevel`, `cutout` or `ribbon`</li>
				<li><a href="http://compass-recipes.moox.fr/tests/recipes/form">Forms</a>, Only one at the moment. Please add yours :)</li>
				<li><a href="http://compass-recipes.moox.fr/tests/recipes/icon-font">Icon fonts</a>, Includes icon fonts helper and a few open source fonts as a compass extension (<a href="https://github.com/MoOx/compass-recipes/blob/master/templates/icon-fonts/README.md">more info</a>)</li>
				<li><a href="http://compass-recipes.moox.fr/tests/recipes/image">Image</a>, More image mixins (& functions) than Compass deserve (dimensions, inline, simple spriting)</li>
			</ul>
		</section>
		<section>
			<h2>Compass Recipes</h2>
			<ul>
				<li><a href="http://compass-recipes.moox.fr/tests/recipes/layout">Layouts</a>, Vertical centering and box layout shortcuts.</li>
				<li><a href="http://compass-recipes.moox.fr/tests/recipes/media-queries">Media Queries</a>, Shortcuts for media queries.</li>
				<li><a href="http://compass-recipes.moox.fr/tests/recipes/shadow">Shadows</a>, A wide collection of shadows which use pseudo elements to create fold effects, etc.</li>
				<li><a href="http://compass-recipes.moox.fr/tests/recipes/shape">Shapes</a>, Geometric and iconic shapes, created only with CSS</li>
				<li><a href="http://compass-recipes.moox.fr/tests/recipes/ui">UI components</a>, Lots of element styling for loader, menu, overlay, separator, tooltip, etc.</li>
				<li><a href="http://compass-recipes.moox.fr/tests/recipes/utilities">Utilities</a>, Very usefull utilities, trick, hacks</li>
			</ul>
		</section>
</section>

<section>
	<h2>Stellar Links</h2>
	<ul>
		<li><a href="https://gist.github.com/MoOx/2793699">More links</a></li>
		<li><a href="https://github.com/MoOx/compass-recipes">My Compass Recipes</a></li>
		<li><a href="https://twitter.com/MoOx">Follow me on Twitter</a></li>
	</ul>
</section>

<section>
	<h1>THE END</h1>
	<h3>BY @MoOx / Maxime Thirouin / moox.io</h3>
</section>
