---
title: "Posts written by MoOx, a freelance front-end web developer"
nav: blog
---

{{#extend "layout"}}
  {{#append "header"}}
    <h1 class="mx-Header-body-title mx-Text--light mx-Text--thin mx-Title--light grid__cell unit-8-12--medium">
        <div class="mx-Header-left mx-Header-left--quote">MoOx posts...</div>
        <div class="mx-Header-right mx-Header-right--quote">... where he talks about web &amp; dev</div>
    </h1>
  {{/append}}
  {{#append "body"}}
    <div class="mx-Body grid">
      <div class="grid__cell">
        <h2>Posts written elsewhere</h2>

        <ul class="Posts">
          <li class="Posts-item">
            <time datetime="Thu, 20 May 2014 00:00:00 +0100" class="time">29 May 2014</time>
            <a href="http://putaindecode.fr/posts/css/preprocesseur-a-la-carte/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
              Faire son préprocesseur CSS à la carte
            </a>
            sur <em>Putain de Code !</em>
          </li>
          <li class="Posts-item">
            <time datetime="Thu, 29 April 2014 00:00:00 +0100" class="time">29 Apr 2014</time>
            <a href="http://putaindecode.fr/posts/js/introduction-gulp/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
              Introduction à Gulp
            </a>
            sur <em>Putain de Code !</em>
          </li>
          <li class="Posts-item">
            <time datetime="Thu, 8 April 2014 00:00:00 +0100" class="time">8 Apr 2014</time>
            <a href="http://putaindecode.fr/posts/css/les-post-processeurs/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
              Les post-processeurs CSS
            </a>
            sur <em>Putain de Code !</em>
          </li>
          <li class="Posts-item">
            <time datetime="Thu, 11 March 2014 00:00:00 +0100" class="time">11 Mar 2014</time>
            <a href="http://putaindecode.fr/posts/css/le-point-sur-les-preprocesseurs/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
              Le point sur les pré-processeurs CSS
            </a>
            sur <em>Putain de Code !</em>
          </li>
          <li class="Posts-item">
            <time datetime="Thu, 04 March 2014 00:00:00 +0100" class="time">04 Mar 2014</time>
            <a href="http://putaindecode.fr/posts/css/mise-en-place-autoprefixer/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
              Mise en place d’autoprefixer
            </a>
            sur <em>Putain de Code !</em>
          </li>
          <li class="Posts-item">
            <time datetime="Thu, 25 February 2014 00:00:00 +0100" class="time">25 Fév 2014</time>
            <a href="http://putaindecode.fr/posts/css/comment-en-finir-avec-les-prefixes/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
              Comment en finir avec les préfixes CSS
            </a>
            sur <em>Putain de Code !</em>
          </li>
          <li class="Posts-item">
            <time datetime="Wed, 15 January 2014 00:00:00 +0100" class="time">15 Jan 2014</time>
            <a href="http://putaindecode.fr/posts/js/browserify-all-the-things/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
              BROWSERIFY ALL THE THINGS
            </a>
            sur <em>Putain de Code !</em>
          </li>
          <li class="Posts-item">
            <time datetime="Mon, 09 December 2013 00:00:00 +0100" class="time">09 Dec 2013</time>
            <a href="http://www.24joursdeweb.fr/2013/automatisez-votre-workflow-front-end/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
              Automatisez votre workflow front-end
            </a>
            sur <em>24 jours de web</em>
          </li>
          <li class="Posts-item">
            <time datetime="Thu, 07 November 2013 00:00:00 +0100" class="time">07 Nov 2013</time>
            <a href="http://putaindecode.fr/posts/html/hache-the-aime-elle-vous-dites/" class="title"><span class="mx-Text--lessVisible">[fr]</span>
              HTML ? Hâche-Thé-Aime-Elle vous dites ?
            </a>
            sur <em>Putain de Code !</em>
          </li>
        </ul>

        <h2>Posts</h2>

    {{!--
        <blockquote>
          Why I don't blog that much ? Because I mostly write tech posts on <a href="http://putaindecode.fr">putaindecode.fr</a>.
          And to be honnest, most of the time I don't write. <strong style="white-space: nowrap">I code</strong>. And I share that on <a href="https://github.com/MoOx">GitHub</a>.
        </blockquote>
    --}}

        <ul class="Posts">
        {{#posts pages}}
          <li class="Posts-item">
            <time datetime="{{moment data.date format="ddd, DD MMMM YYYY HH:mm:ss ZZ" }}" class="time">{{moment data.date format="DD MMM YYYY" }}</time>
            <a href="{{url this.dest}}" class="title">
              <span class="mx-Text--lessVisible">[{{ data.lang }}]</span>
              {{ data.title }}
            </a>
          </li>
        {{/posts}}
        </ul>
      </div>
    </div>
  {{/append}}
{{/extend}}
