---
title: Développeur Web Front-End HTML5, CSS 3, Javascript
nav: blog
---

{{#extend "layout"}}
  {{#append "header"}}
    <h1 class="mx-Header-body-title mx-Text--light mx-Text--thin mx-Title--light grid__cell unit-8-12--medium">
        <div class="mx-Header-center">MoOx' portfolio</div>
    </h1>
  {{/append}}
  {{#append "body"}}
    <div class="mx-Body grid">
      <div class="grid__cell Box">
        <div class="Box-body">
          <h2>Portfolio</h2>

          <ul class="posts">
          {{#each happyplan.xps }}
            <li><time datetime="{{ this.date }}" class="time">{{ this.date }}</time> <a href="{{ this.url }}" class="title"><span class="mx-Text--lessVisible">[{{ this.lang }}]</span> {{ this.title }}</a>
          {{/each}}
          </ul>
        </div>
      </div>
    </div>
  {{/append}}
{{/extend}}
