---
layout: default.hbs
title: Développeur Web Front-End HTML5, CSS 3, Javascript
nav: blog
---

<header class="mx-Header">
  <div class="mx-Header-body mx-Body grid grid--center">
    <h1 class="mx-Header-body-title mx-Text--light mx-Text--thin mx-Title--light grid__cell unit-8-12--medium">
        <div class="mx-Header-center">MoOx' portfolio</div>
    </h1>
  </div>
</header>


<div class="mx-Content">
  <div class="mx-Body grid">
    <div class="grid__cell Box">
      <div class="Box-body">
        <h2>Portfolio</h2>

        <ul class="posts">
        {{#each happyplan.xps }}
          <li><time datetime="{{ this.date }}" class="time">{{ this.date }}</time> <a href="{{ this.url }}" class="title"><span class="mx-Text--lessVisible">[{{ this.lang }}]</span> {{ this.title }}</a>
        {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

{{> footer }}
