<!DOCTYPE html>
{{#if happyplan.repository.url }}<!--
	HEY YOU, STOP LOOKING AT MY SOURCE CODE
	Just check it out directly on Github :

	{{ happyplan.repository.url }}
-->{{/if}}
<html lang="en" class="no-js no-touch {{ page.class }}">
<head>
<script>(function(docEl) {
	docEl.className = docEl.className.replace(/\bno-js\b/, 'js');
	if ('ontouchstart' in docEl) { docEl.className = docEl.className.replace(/\bno-touch\b/, 'touch'); }
})(document.documentElement);</script>
{{> head }}
</head>
<body>
{{ happyplan.html.hooks.body_open }}
{{!
<div class="annonce-box">
	<small></small>
</div>
}}
{{#if happyplan.repository.url }}
<a class="source-code" href="{{ happyplan.repository.url }}">source code</a>
{{/if}}
<div class="body-wrapper">
{{> nav }}
{{> body }}
</div>
{{{ happyplan.html.hooks.body_close }}}
{{> google-analytics }}
{{> disqus }}
</body>
</html>
