---
nav: blog
---
{{#extend "layout"}}
  {{#append "header"}}
    <h1 class="mx-Header-body-title mx-Title--light grid__cell" lang="{{ page.lang }}">
      <span class="mx-Text--lessVisible">[{{ page.lang }}]</span> {{ page.title }}
    </h1>
  {{/append}}
  {{#append "body"}}
    <div class="mx-Body grid">
      <div class="grid__cell">
        <article class="mx-Post" lang="{{ page.lang }}">
          <header class="mx-SeparatorAfter mx-SeparatorAfter--thin mx-SeparatorAfter--alt">
            <time class="mx-Text--lessVisible" pubdate datetime="{{moment data.date format="YYYY-MM-DD" }}">{{moment page.data.date format="DD MMMM YYYY" }}</time>
          </header>
          <!-- {{#isnt page.tags empty }}
          <div class="category">
            <ul>
              {{#each page.tags }}
                <li><a href="#">{{ tag }}</a></li>
              {{/each}}
            </ul>
          </div>
          {{/isnt}} -->
          <div class="content">
            {{> body }}
          </div>

          <footer>
            <small>
              See something wrong here ? Please tell me <a href="https://github.com/MoOx/moox.github.io/issues">with an issue on Github</a>,
              or just some words on twitter at <a href="https://twitter.com/MoOx/">@MoOx</a>.
            </small>

            <hr class="mx-Separator">

            {{#is page.lang 'en' }}
              {{> author-en }}
            {{ else }}
              {{> author-fr }}
            {{/is}}
          </footer>
        </article>

        <hr class="mx-Separator mx-Separator--alt">

        {{#and happyplan.disqus_short_name page.comments }}
        <section class="">
          <h1>Comments</h1>
          <div id="disqus_thread" aria-live="polite">
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          </div>
        </section>
        {{/and}}
      </div>
    </div>
  {{/append}}
{{/extend}}
