---
title: "Freelance Front-end Web Developer (HTML5, CSS 3, Javascript, Responsive web design, front-end performance optimization)"
nav: home
---

{{#extend "layout"}}
  {{#append "header"}}
    <div class="grid grid--center">
      <h1 class="mx-Header-body-title mx-Text--light mx-Text--thin mx-Title--light grid__cell unit-8-12--medium">
          <div class="mx-Header-left mx-Header-left--quote">Hi I'm Maxime Thirouin,</div>
          <div class="mx-Header-center">a freelance front-end web developer</div>
          <div class="mx-Header-right mx-Header-right--quote"><small>working with HTML, CSS and JavaScript</small></div>
      </h1>
    </div>
    <img class="mx-Header-picture" alt="Maxime Thirouin portrait" src="{{ happyplan.baseUrls.images }}/moox/serious-face.jpg">
  {{/append}}
  {{#append "body"}}
    <div class="mx-Body grid">
      <div class="grid__cell unit-1-2--medium Animate Animate--delay-xxxs Animate--fadeInUp">
        <h2>Passionate web developer</h2>
        <p>
          I'm <a href="/about/">Maxime Thirouin</a>,
          also known as <a href="https://github.com/MoOx">MoOx</a>.
          I am a french web developer living in Toulouse, France
          who likes to focus on client-side programming (mostly with <strong>JavaScript</strong> &amp; <strong>CSS</strong>) on all devices.
        </p>
        <p>
          <strong>I am available as Consultant Developer</strong> if you need a hand for some front-end architecture,
          huge CSS to scale or even JavaScript application.
          I like to work on <strong>front-end performance</strong> and <strong>responsive web design</strong>.
        </p>

      </div>

      <div class="grid__cell unit-1-2--medium Animate Animate--delay-xxs Animate--fadeInUp">
        <h2 class="mx-TextRight--m">Side projects I'm working on</h2>
        {{> side-projects }}
  {{!<!--
        <h2 class="mx-TextRight--m">Featured project</h2>
        <section class="Browser">
          <header class="Browser-bar">
            <nav class="Browser-bar-nav">
              <button class="Browser-bar-button Browser-bar-button--prev">◀︎</button>
            </nav>
            <span class="Browser-bar-address">
              dame-bio.fr
            </span>
          </header>
<hr class="mx-Separator">
          <div class="Browser-viewport">

          </div>
          <footer class="Browser-footer">
          </footer>
        </section>
        <p class="mx-TextRight">
          <small><a href="/portfolio/dame-bio/">More about D'Âme Bio project</a></small>
        </p>

        <h3>Portfolio</h3>
        <ul class="Home-portfolio">
          <li class="Home-portfolio-li">
            <a href="/portfolio/#">
              <img class="Home-portfolio-img" src="">
            </a>
          </li>
        </ul>
        <p class="mx-TextRight">
          <small><a href="/portfolio/">See entire portfolio</a></small>
        </p>
  -->}}
      </div>
    </div>

    <div class="mx-Body mx-TextCenter Animate Animate--delay-m Animate--fadeInUp Middleground" data-wow-delay=".2s">
    {{> availability-status }}
    </div>

    <p class="mx-ComingSoon mx-TextCenter Animate Animate--delay-l Animate--fadeInUp Background">Portfolio coming soon !</p>

    <div class="mx-FeaturedLogos Foreground">
      <div class="Animate Animate--delay-l Animate--slideInRight" data-wow-delay=".2s">
        <h2 class="mx-Heading--small mx-TextCenter">Companies I have worked with</h2>
        <div class="mx-Body grid grid--center">
          <div class="grid__cell unit-1-2 unit-1-4--medium">
            <a class="mx-FeaturedLogo" href="http://jirafe.com/"><img alt="Jirafe" src="{{ happyplan.baseUrls.media }}/portfolio/companies/jirafe--black.png"></a>
          </div>
          <div class="grid__cell unit-1-2 unit-1-4--medium">
            <a class="mx-FeaturedLogo" href="http://mindie.co/"><img alt="mindie" src="{{ happyplan.baseUrls.media }}/portfolio/companies/mindie--black.png"></a>
          </div>
          <div class="grid__cell unit-1-2 unit-1-4--medium">
            <a class="mx-FeaturedLogo" href="http://ensighten.com/"><img alt="Ensighten" src="{{ happyplan.baseUrls.media }}/portfolio/companies/ensighten--black.png"></a>
          </div>
          <div class="grid__cell unit-1-2 unit-1-4--medium">
            <a class="mx-FeaturedLogo" href="http://youseemii.fr/"><img alt="Youseemii" src="{{ happyplan.baseUrls.media }}/portfolio/companies/youseemii--black.png"></a>
          </div>
      {{!
          <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0">
            <filter id="SvgFilter--grayscale">
              <feColorMatrix type="matrix" values="0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0" />
              <feComponentTransfer>
                <feFuncR type="linear" slope="20" />
                <feFuncG type="linear" slope="20" />
                <feFuncB type="linear" slope="20" />
              </feComponentTransfer>
            </filter>
          </svg>
      }}
        </div>
      </div>
    </div>

    <div class=" mx-Testimonials Animate Animate--delay-xxl Animated--slow Animate--fadeIn" data-wow-delay=".4s">
      <h2 class="mx-Heading--small mx-TextCenter">A few kind words from the Internet</h2>
      <div class="mx-Body grid grid--center">
        <div class="mx-Testimonial grid__cell unit-1-3--medium">
          <blockquote>
            <p>
              A passionate professional, ambitious for solutions he implements.
              A good understanding of business needs related to applications he builds.
              And a pleasant collegue, even remotely.</p>
            <footer>
              <cite>— <a href="http://www.linkedin.com/profile/view?id=21741025#endorsements">Nicolas Moussikian</a>, CTO at Shopbot Group</cite>
            </footer>
          </blockquote>
        </div>
        <div class="mx-Testimonial grid__cell unit-1-3--medium">
          <blockquote>
            <p>If you're looking for a top-notch Sass &amp; front end developer @MoOx is looking for a job</p>
            <footer>
              <cite>— <a href="https://twitter.com/chriseppstein/status/207944162857844737">Chris Eppstein</a>, Sass &amp; Compass maintainer</cite>
            </footer>
          </blockquote>
          <p class="mx-Text--lessVisible mx-TextCenter">(said before I start as a freelance)</p>
        </div>
        <div class="mx-Testimonial grid__cell unit-1-3--medium">
          <blockquote>
            <p>
              Maxime [...] was totally in charge for all the technical aspects of the E-commerce platform. Maxime is very reliable and with a great knowledge in development process [...].</p>
            <footer>
              <cite>— <a href="http://www.linkedin.com/profile/view?id=21741025#endorsements">Benoît Gaillat</a>, E-commerce consultant</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <p class="mx-Text--lessVisible mx-TextCenter">
      More about
      <a href="http://www.linkedin.com/profile/view?id=21741025#background-skills">my skills &amp; endorsements</a>
      or
      <a href="http://www.linkedin.com/profile/view?id=21741025#endorsements">my recommendations</a>
      on
      <a href="http://www.linkedin.com/profile/view?id=21741025">my Linkedin profile</a>.
    </p>
  {{/append}}
{{/extend}}
