<!DOCTYPE html>
{{#if happyplan.repository.url }}<!--
  HEY YOU, STOP LOOKING AT MY SOURCE CODE
  Just check it out directly on Github :

  {{ happyplan.repository.url }}
-->{{/if}}
<html lang="en" class="no-js no-touch {{ page.class }} mx--{{ page.nav }}">
<head>
<!--[if lt IE 9]><script>"header footer section aside nav article figure figcaption hgroup time main".replace(/\w+/g,function(a){document.createElement(a)})</script><![endif]-->
<script>
  var html = document.documentElement
  html.className = html.className.replace(/\bno-js\b/, "js")
  if ("ontouchstart" in html) { html.className = html.className.replace(/\bno-touch\b/, "touch") }
</script>
{{> head }}
<!--[if lt IE 9]><script src="http://rawgithub.com/scottjehl/Respond/master/dest/respond.min.js"></script><![endif]-->
</head>
<body>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
{{ happyplan.html.hooks.body_open }}
{{> nav }}
  <header class="mx-Header">
    <div class="mx-BackgroundImg js-is-Loading" data-parallaxify-y-min="80%" data-parallaxify-y-max="20%"></div>
    <div class="mx-Header-body mx-Body">
{{#block "header"}}{{/block}}
    </div>
    <div class="mx-Separator u-posStretch--horizontal u-posToBottom"></div>
  </header>
  <div class="mx-Content">
    <div class="js-Pjax-child">
{{#block "body"}}{{/block}}
    </div>
  </div>
{{> footer}}
{{{ happyplan.html.hooks.body_close }}}
{{#is happyplan.env 'dist' }}{{> google-analytics }}{{/is}}
<div class="js-Disqus">{{> disqus }}</div>
</body>
</html>
